              <div class="item">
                <div class="image">
                  <img src="{% asset_path radioboot.svg %}">
                </div>

                <div class="content">
                  <a class="header">Radio Boot</a>
                  <div class="meta">
                    <span class="cinema">Co-Founder</span>
                  </div>
                  <div class="description">
                    <p>
                      An online radio about technologies and specially free software world. This might be the first persian online
                      radio dedicated to free software
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//radioboot.com" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> Website
                    </a>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path kfsc.jpg %}">
                </div>
                <div class="content">
                  <a class="header">KFSC</a>
                  <div class="meta">
                    <span class="cinema">Co-Founder</span>
                  </div>
                  <div class="description">
                    <p>
                      Karaj Free Software Conference is an annual conference that held in Karaj and dedicated to free software and
                      encourage people to use free software and GNU/Linux. We I'm happy to be the co-founder of this conference.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//karajlug.org" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> Website
                    </a>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path iranonrails.png %}">
                </div>
                <div class="content">
                  <a class="header">IranOnRails</a>
                  <div class="meta">
                    <span class="cinema">Co-Founder</span>
                  </div>
                  <div class="description">
                    <p>
                      First Ruby users group in MiddleEast, active in running ruby related events and producing
                      educational content.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//iranonrails.ir" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> Website
                    </a>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path karajlug.svg %}">
                </div>
                <div class="content">
                  <a class="header">Karaj Linux Users Group</a>
                  <div class="meta">
                    <span class="cinema">Active member</span>
                  </div>
                  <div class="description">
                    <p>
                      I'm proud to be a Karajlug member. We run workshops, conferences and events related to Free software and
                      software engineering all over the country.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//karajlug.org" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> Website
                    </a>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path pycon.png %}">
                </div>
                <div class="content">
                  <a class="header">IrPycon</a>
                  <div class="meta">
                    <span class="cinema">Organizer</span>
                  </div>
                  <div class="description">
                    <p>
                      IrPycon is an annual national level Python conference. I'm happy to be a speaker and part of the organizer team.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//pycon.ir" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> Website
                    </a>
                  </div>
                </div>
              </div>
