              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/idvos.png %}">
                </div>
                <div class="content">
                  <a class="header">Idvos</a>
                  <div class="meta">
                    <span class="cinema">Full stack developer - Remote</span>
                  </div>
                  <div class="description">
                    <p>
                      A face 2 face online identification which allows customers to identify themselves in less that 5 minutes.
                      I done lots of backend and frontend development on this project and currenty working on this. Also I done
                      hell of a job on refactoring the old code and improving the performance of the service.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//idvos.de" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> View
                    </a>

                    <div class="ui red label">Ruby</div>
                    <div class="ui red label">Ruby On Rails</div>
                    <div class="ui orange label">AngularJS</div>
                    <div class="ui brown label">CoffeeScript</div>
                    <div class="ui blue label">PostgreSQL</div>
                    <div class="ui label">WebRTC</div>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/takhfifan.png %}">
                </div>
                <div class="content">
                  <a class="header">Takhfifan</a>
                  <div class="meta">
                    <span class="cinema">Full stack developer - Remote</span>
                  </div>
                  <div class="description">
                    <p>
                      A very popular group discount service in Iran. I worked as a fullstack developer on this project.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//idvos.de" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> View
                    </a>

                    <div class="ui purple label">PHP</div>
                    <div class="ui blue label">BackboneJS</div>
                    <div class="ui orange label">Magento</div>
                    <div class="ui yellow label">Javascript</div>
                    <div class="ui blue label">PostgreSQL</div>
                    <div class="ui green label">Zend Framework2</div>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/faalis.png %}">
                </div>
                <div class="content">
                  <a class="header">Faalis</a>
                  <div class="meta">
                    <span class="cinema">Full stack Developer</span>
                  </div>
                  <div class="description">
                    <p>
                      A RubyOnRails platform for rapid web application development. Containing a rich and flexible dashboard interface.
                      I'm one of the main developer of this project. I love to create new frameworks and these kind of software.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//github.com/Yellowen/Faalis" class="ui right floated labeled tiny primary button">
                      <i class="github icon"></i> View on Github
                    </a>

                    <div class="ui red label">Ruby</div>
                    <div class="ui red label">Ruby On Rails</div>
                    <div class="ui orange label">AngularJS</div>
                    <div class="ui brown label">CoffeeScript</div>
                    <div class="ui blue label">PostgreSQL</div>
                    <div class="ui green label">MongoDB</div>
                    <div class="ui label">Free Software</div>
                    <div class="ui olive label">ElasticSearch</div>

                  </div>
                </div>
              </div>





              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/susanoo.png %}">
                </div>
                <div class="content">
                  <a class="header">Susanoo</a>
                  <div class="meta">
                    <span class="cinema">Developer</span>
                  </div>
                  <div class="description">
                    <p>
                      A meta framework based on Apache Cordova which provides a rapid development environment
                      for creating hybrid applications. I'm the author of Susanoo.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//github.com/Yellowen/Susanoo" class="ui right floated labeled tiny primary button">
                      <i class="github icon"></i> View on Github
                    </a>

                    <div class="ui red label">Ruby</div>
                    <div class="ui red label">Lotus</div>
                    <div class="ui orange label">AngularJS</div>
                    <div class="ui blue label">Ionic Framework</div>
                    <div class="ui label">Cordova</div>
                    <div class="ui label">Thor</div>
                    <div class="ui label">Free Software</div>

                  </div>
                </div>
              </div>


              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/hod.png %}">
                </div>
                <div class="content">
                  <a class="header">HOD.ir</a>
                  <div class="meta">
                    <span class="cinema">Backend developer</span>
                  </div>
                  <div class="description">
                    <p>
                      A complete email solution. I worked as a developer on the backend either on the web interface and the
                      required services and cloud to run such beast.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//hod.ir" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> View
                    </a>

                    <div class="ui yellow label">Python</div>
                    <div class="ui greeng label">Django</div>
                    <div class="ui green label">Celery</div>
                    <div class="ui yellow label">Javascript</div>
                    <div class="ui blue label">PostgreSQL</div>
                  </div>
                </div>
              </div>





              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/blog.png %}">
                </div>
                <div class="content">
                  <a class="header">Blog.ir</a>
                  <div class="meta">
                    <span class="cinema">Fullstack developer</span>
                  </div>
                  <div class="description">
                    <p>
                      A famous blogging service powered by python 3. It was one of the first softwares which was created from
                      scratch using python3. We created a complete webframework for python 3.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//blog.ir" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> View
                    </a>

                    <div class="ui yellow label">Python3</div>
                    <div class="ui brown label">SQLAlchemy</div>
                    <div class="ui orange label">Magento</div>
                    <div class="ui yellow label">Javascript</div>
                    <div class="ui blue label">PostgreSQL</div>
                  </div>
                </div>
              </div>





              <div class="item">
                <div class="image">
                  <img src="{% asset_path screenshots/sso.png %}">
                </div>
                <div class="content">
                  <a class="header">Bayan SSO</a>
                  <div class="meta">
                    <span class="cinema">Backend developer</span>
                  </div>
                  <div class="description">
                    <p>
                      The beating heart of Bayan services. I designed and developed the Single Sign On service.
                    </p>
                  </div>
                  <div class="extra">
                    <a href="//bayan.ir" class="ui right floated labeled tiny primary button">
                      <i class="eye icon"></i> View
                    </a>

                    <div class="ui yellow label">Python</div>
                    <div class="ui green label">MongoDB</div>
                    <div class="ui green label">Celery</div>
                    <div class="ui red label">Redis</div>
                  </div>
                </div>
              </div>
