<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="JuEQr3co-5tzeF_7863YbTPjQLuaM6tmbbzNFa-8C6U" />
    <meta name="twitter:card" content="A publication about my life.">
    <meta name="twitter:site" content="@lxsameer">
    <meta name="twitter:creator" content="@lxsameer">

    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
    {% endif %}


    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}
    {% if page.image %}
    <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/images/high-logo.png" property="og:image">
    {% endif %}
    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}

    {% stylesheet application %}
    {% javascript application %}
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
  </head>
  <body>
    <div class="ui computer tablet only sidebar small vertical menu">
      <div class="item">
        <div class="header">
          <a href="/categories"><i class="grid layout icon"></i> Categories</a>
        </div>
        <div class="menu">
          {% category_list %}
        </div>
      </div>
      <div class="item">
        <div class="header">
          <a href="/tags"><i class="tags icon"></i> Tags</a>
        </div>
      </div>
    </div>


    <div class="ui mobile only left sidebar wide thin floating vertical menu">
      <div class="item"><a href="/"><i class="home icon"></i> Home</a></div>
      <div class="item"><a href="/blog"><i class="comment icon"></i> Blog</a></div>
      <!-- <a href="/activities/" class="item"><i class="terminal icon"></i> Activities</a> -->
      <div class="item"><a href="/categories"><i class="grid layout icon"></i> Categories</a></div>
      <div class="item"><a href="/portfolio/" class="item"><i class="trophy icon"></i> Portfolio</a></div>

      <div class="item"><a href="/tags"><i class="tags icon"></i> Tags</a></div>
      <a class="item" href="/feed/feed.xml"><i class="rss icon"></i> Feed</a>
      <div class="item"><a  href="http://twitter.com/lxsameer"><i class="large twitter sign icon"></i>Follow me on Twitter</a></div>
      <div class="item"><a  href="http://github.com/lxsameer"><i class="large github icon"></i>Follow me on Github</a></div>
      <div class="item"><a  href="https://plus.google.com/+SameerRahmani"><i class="large google plus sign icon"></i>Follow me on Google+</a></div>
      <div class="item"><a class="toggle button mobile" href="#"><i class="large remove icon"></i> Close</a></div>
    </div>



    <div class="{{ page.body_class }} pusher">



    <div class="ui fluid grid">
      <div class="row computer tablet only">
        <div class="column">
          <div class="ui grey secondary inverted main menu">
            <a href="/" class="item"><i class="home icon"></i> Home</a>
            <a href="/blog/" class="item"><i class="comment icon"></i> Blog</a>
            <!-- <a href="/activities/" class="item"><i class="terminal icon"></i> Activities</a> -->
            <a href="#" class="toggle button computer item"><i class="grid layout icon"></i> Categories</a>
            <a href="/portfolio/" class="item"><i class="trophy icon"></i> Portfolio</a>
            <a class="item" href="/blog/feed/feed.xml"><i class="rss icon"></i> Feed</a>

            <div class="right menu">
              <a class="item" href="http://twitter.com/lxsameer"><i class="big twitter sign icon"></i></a>
              <a class="item" href="http://github.com/lxsameer"><i class="big github icon"></i></a>
              <a class="item" href="https://plus.google.com/+SameerRahmani"><i class="big google plus sign icon"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mobile only">
        <div class="column">
          <div class="ui fluid big secondary black inverted menu">
            <a href="#" class="toggle button mobile item"><i class="content big icon"></i></a>
          </div>
        </div>
      </div>

    </div>






      <div class="ui main container">
        <div class="stackable ui strechted page grid">
          <div class="column">
            {{ content }}
          </div>
        </div>
      </div>
      <footer>
        <div class="ui two column page grid">
          <div class="row">
            <div class="column left aligned">
              <span>© 2012-2015 <a class="invert" href="http://www.lxsameer.com">@lxsameer</a></span>
            </div>
            <div class="column right aligned">
              Last build: {{ site.time | date: '%Y-%m-%d' }}
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
     //$(".ui.dropdown").dropdown();
     $(".ui.computer.sidebar").sidebar('setting', 'transision', 'push').sidebar('attach events', '.toggle.button.computer');
     $(".ui.mobile.sidebar").sidebar('setting', 'transision', 'overlay').sidebar('attach events', '.toggle.button.mobile');
     $('.special.cards .image').dimmer({
         on: 'hover'
     });
     $('.ui.rating').rating('disable', true);
     $('.tada').transition('set looping').transition('tada', '600ms');
    </script>

    <script id="push-template" type="x-tmpl-mustache">
      <div class="push item">
        <img class="ui avatar image" src="{% asset_path avatar.jpeg %}"/>
        <div class="content">
          <div class="header">
            Pushed to <span class="branch"><div class="ui mini label">[[ branch ]]</div></span> at <a href="https://www.github.com/[[ repo ]]">[[ repo ]]</a>
          </div>
          <div class="description">[[ date ]]</div>
        </div>
        <div class="list">
        [[#commits]]
          <div class="item">
            <a href="https://www.github.com/[[ repo ]]/commit/[[ sha ]]"><span class="ui [[color ]] tiny label">[[ short_sha ]]</span> </a><spen class="desc">  [[ message ]] </spen>
          </div>
        [[/commits]]
        </div>
      </div>
    </script>

    <script id="create-template" type="x-tmpl-mustache">
      <div class="create item">
     <img class="ui avatar image" src="{% asset_path avatar.jpeg %}"/>
        <div class="content">
          <div class="header">
            Created a new [[ type ]] at <a href="https://www.github.com/[[ repo ]]">[[ repo ]]</a>
          </div>
          <div class="description">[[ date ]]</div>
        </div>
        <div class="list">
          <div class="item">
            <div class='desc'><div class="ui tiny [[ color ]] label">[[ ref ]]</div> [[ desc ]] </div>
          </div>
        </div>
      </div>
    </script>
  </body>
</html>
