//@import 'semantic-ui';
@import 'variables';
//@import "compass/css3/shared";
//@import "compass/css3";

* {
   padding: 0;
   margin: 0;
}

html, body, .pusher {
   font-family: 'Lato',  sans-serif;
   //font-family: 'Exo 2'
}

.pusher {
   &.primary {
      background: $BG !important;
   }

   &.secondary {
      background: $SECONDARY_BG !important;
   }
}

a {
   text-decoration: none !important;
   color: #009FDA;
   &:hover {
      color: #00BAFF;
   }
}
.ui {
   &.sidebar {
      &.active {
         visibility: visible;
      }
   }
}

.left-header {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2;

  }
}
.nonfloat {
  //float: none !important;
}
.ui.menu {
  border-radius: 0;
   margin: 0;
}

.header-bg {
  background: url(header.png) 0 0 repeat-x transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: block;
}

.center-image {
  margin: 1em auto;

}

.brand {

  padding-top: 8em;
  border-right: 1px dotted #d9d9d9;
  h1 {
    font-size: 1.3em;
  }
}

.post {
  line-height: 1.5;
   .post-title {
      margin: 0.2em 0 0.5em 0.3em;
      font-size: 2em;
   }
   p {
      //text-indent: 10pt;
      padding: 0.5em 0;
   }
   ul {
      padding-left: 4em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
   }
}
.post code {
  border-radius: 3px;
  padding: 0.1em 0.2em;
}

.post pre {
  border-radius: 3px;
  padding: 0.2em;
}

.maincontainer {
   min-height: 30em;

   position: relative;
}

.ui.main.container {
   padding-top: 5em;
   padding-bottom: 5em;
}

footer {
  clear: both;
  z-index: 10;
  width: 100%;
  position: relative;
  bottom: 0;
  background: #333;
  color: #eee;
   //margin-top: 5em;

  .column {
    padding: 0.5em 0;
    h1 {
      margin-bottom: 0 !important;
    }
    span {
      font-size: 0.7em !important;
      color: #b9b9b9 !important;
      a {
        color: white;
      }
    }

  }

}

.ui.label {
  text-transform: capitalize;
}

.fsegment {
  font-size: 0.8rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.author {
  h1 {
     font-size: 1.7em;
     margin: 0.2em 0 0.5em;
  }

   p {
      text-indent: 10pt;
      line-height: 1.5;
      padding: 0.5em 0;
   }
}

.invert-link, .invert-link:active, .invert-link:visited {
  color: #ddd;
}

.invert-link:hover {
  color: white !important;
}

blockquote {
  background: $BG;
  border-radius: 3px;
  border: 1px solid $lightergray;
  p {
    padding: 0.2em 0.4em !important;
    font-size: 0.9em;
  }
}
.ohloh {
  display: inline-block;
  padding-top: 0.2em;
}


.mainavatar {
   border-radius: 4px;
   margin-top: 1em !important;
   width: 100px;
   height: 100px;
}

.largewidgettitle {
   font-size: 3em;
   display: block;
}

.hide {
   display: none;
}

.graph {
   display: block;

   //height: 5em;
   div {
      background: #564F8A;
      margin: 0 1px;
      display:inline-block;
   }
}

.tada {
   display: inline !important;
}

.latest {
   .item {
      width: 100% !important;
      min-height: inherit !important;
      cursor: pointer;
   }
}

.err {
   a {
      color: #D65A5A;
   }
}
.branch {
   color: #59BA70;
}

.marked {
   color: #554E89;
}
.push, .create {
   line-height: 1.5 !important;
   color: $darkgray;
   .description, .desc {
      font-size: 0.8em;
   }
}

.segment, .items {
   color: $darkgray;
}

.activity {
   height: 50rem;
   overflow-y: auto;
}
